@model IEnumerable<ProjectDAW.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info" style="border-radius: 25px">+</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Listing)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.BidAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="Listings/Details/@item.Listing.Id" class="text-info">
                    @Html.DisplayFor(modelItem => item.Listing.Description)
                </a>
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.BidAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
