@model IEnumerable<ProjectDAW.Models.Game>

@{
    ViewData["Title"] = "Index";
    var isLoggedIn = Context.User.Identity.IsAuthenticated;
    var isAdmin = isLoggedIn && Context.User.IsInRole("Admin");
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info" style="border-radius: 25px">+</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.ContentRating)
            </th>
            <th class="text-light">
                No. of listings
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="text-info" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.ContentRating.Title)
            </td>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.Listings.Count)
            </td>
            <td>
                @if (isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                @if (isLoggedIn)
                {
                    <a href="/UserGameFavourites/Create?gameId=@item.Id" class="btn btn-light">&#128151;</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
