@model ProjectDAW.Models.Listing

@{
    ViewData["Title"] = "Details";
    var isLoggedIn = Context.User.Identity.IsAuthenticated;
    var isAdmin = isLoggedIn && Context.User.IsInRole("Admin");
    var isListingOwner = isLoggedIn && Context.User.Identity.Name == Model.User.UserName;
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiresAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiresAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyNowPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyNowPrice)
        </dd>
    </dl>
    @if (Model.Bids.Count > 0)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Bid
                </th>
                <th>
                    User
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bids)
            {
                var isBidOwner = isLoggedIn && Context.User.Identity.Name == item.User.UserName;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                    <td>
                        @if (isBidOwner || isAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>
<div>
    @if (isListingOwner || isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
