@model ProjectDAW.Models.Listing

@{
    ViewData["Title"] = "Details";
    var isLoggedIn = Context.User.Identity.IsAuthenticated;
    var isAdmin = isLoggedIn && Context.User.IsInRole("Admin");
    var isListingOwner = isLoggedIn && Context.User.Identity.Name == Model.User.UserName;
}

<h1 class="text-light">Details</h1>

<div>
    <h4 class="text-light">Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class="col-sm-10 text-light">
            <a href="/Games/Details/@Model.Game.Id" target="_blank">@Html.DisplayFor(modelItem => modelItem.Game.Title)</a>
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.ExpiresAt)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.ExpiresAt)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.BuyNowPrice)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.BuyNowPrice)
        </dd>
    </dl>
    @if (Model.Bids.Count > 0)
    {
        <h4 class="text-light">Bids</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="text-light">
                    User
                </th>
                <th class="text-light">
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bids)
            {
                var isBidOwner = isLoggedIn;
                <tr>
                    <td class="text-light">
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td class="text-light">
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>
<div>
    @if (isListingOwner || isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
    @if (isLoggedIn)
    {
        <a href="/Bids/Create?listingId=@Model.Id" class="btn btn-secondary">Make bid</a>
    }
</div>
