@model IEnumerable<ProjectDAW.Models.Listing>

@{
    ViewData["Title"] = "Index";
    var isLoggedIn = Context.User.Identity.IsAuthenticated;
    var isAdmin = isLoggedIn && Context.User.IsInRole("Admin");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyNowPrice)
            </th>
            <th>
                No. of bidings
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var isOwner = isLoggedIn && Context.User.Identity.Name == item.User.UserName;
        <tr>
            <td>
                <a href="/Games/Details/@item.Game.Id" target="_blank">@Html.DisplayFor(modelItem => item.Game.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyNowPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bids.Count)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                @if (isOwner || isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                @if (isLoggedIn)
                {
                    <a href="/Bids/Create?listingId=@item.Id" class="btn btn-secondary">Make bid</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
